body { background-color: #e6e6e6;
    font-family: arial, helvetica, sans-serif;
    padding:3em;
    line-height:1.3em;
}

h1 {color: #5F0000;
    display:inline;
    font-size: 2.3em;
    line-height:1.2em;
    text-align:center;
    padding: .5em;
}

div.flex {display: flex;
    justify-content:space-evenly;
    width:90vw;
    background-color:lemonchiffon;
}

div.flex img {
    max-width:200px;
    width:80%;}

div#footer {
    width:80%;
    margin:auto;
    display:flex;
    justify-content: space-evenly;
    font-size: smaller;
}

img#newt {
    max-width:100px;
    width:80%;}

