<!doctype html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport"
           content="width=device-width,
           user-scalable=no,
           initial-scale=1.0,
           maximum-scale=1.0,
           minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible"
           content="ie=edge">
     <title>{{ title }}</title>
     <link rel="stylesheet" href="css/style.css">
</head>
<body>
 {% include "layouts/top.html" %}

 <h1>{{ title }}</h1>

 <h2>{{ param }}</h2>

 <p>What's my permalink parameter? {{ permalink }} </p>

    {{ content | safe }}

{{ alltopics | dump }}

 <ul>
     {% for topic in alltopics.topics %}
         <li>{{ topic }}</li>
     {% endfor %}
 </ul>


 <section class="gallery">
     <h2>animals</h2>
     <div class="flex">
         {% for animal in animals.animals -%}
             <figure>
                 <img src=" {{ animal.filepath }}" alt=" {{  animal.filename }}"/>

                 <figcaption> {{ animal.filename }}</figcaption>
             </figure>
         {% endfor -%}



     </div>
 </section>

 <p>For the next portion I'm attempting to read in variables and output each set of images matched to the changing variable. This isn't working yet.  </p>

 {% for topic in alltopics.topics %}
     <section class="{{ topic }}"><h1>{{ topic }}</h1>
         <div class="flex">
             {% set subdir = topic ~ "." ~ topic  %}
             {% set subdirData = data[subdir] %}
             <p>{{ subdir }}</p>
             <pre>{{ subdir | dump }}</pre>

                 {% for data in topic.topic %}
                     <figure>
                         <img src="{{ data.filepath }}" alt="{{ data.filename }}">
                     </figure>
                 {% endfor %}

         </div>
     </section>
 {% endfor %}


 {% include  "layouts/footer.html" %}

</body>
</html>