<!doctype html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport"
           content="width=device-width,
           user-scalable=no,
           initial-scale=1.0,
           maximum-scale=1.0,
           minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible"
           content="ie=edge">
     <title>{{ title }}</title>
     <link rel="stylesheet" href="css/style.css">
    <script>
        function toggleSection(topic) {
            const sections = document.querySelectorAll('section.gallery');
            sections.forEach(section => {
                if (section.classList.contains(topic)) {
                    section.style.display = 'block';
                } else {
                    section.style.display = 'none';
                }
            });
        }
    </script>
</head>
<body>
 {% include "layouts/top.html" %}

 <h1>{{ title }}</h1>

 <h2>{{ param }}</h2>



{{ iamgesMeta | dump }}



 <section class="gallery">
     <h2>music</h2>
     <div class="flex">
         {% for item in music.music -%}
             <figure>
                 <img src=" {{ item.filepath }}" alt=" {{  item.filename }}"/>

                 <figcaption> {{item.filename }}</figcaption>
             </figure>
         {% endfor -%}
     </div>
 </section>

 <p>We have the following topics with images available for viewing in the gallery today. Please press a button to choose a topical set of images. </p>
<section class="pushButton">
 {% for topic, images in imagesMeta %}
     <button id="{{ topic }}" onclick="toggleSection('{{ topic }}')">{{ topic }}</button>
 {% endfor %}
</section>
 {% for topic, images in imagesMeta %}
     <section class="gallery {{ topic }}"><h1>{{ topic }}</h1>
         <div class="flex">
                 {% for image in images %}
                     <figure>
                         <img src="{{ image.filepath }}" alt="{{ image.filename }}"/>
                         <figcaption>{{ image.filename }}</figcaption>
                     </figure>
                 {% endfor %}

         </div>
     </section>
 {% endfor %}



 {% include  "layouts/footer.html" %}

</body>
</html>