body { background-color: #e6e6e6;
    font-family: arial, helvetica, sans-serif;
    padding:3em;
    line-height:1.3em;
}

h1 {color: #5F0000;
    display:inline;
    font-size: 2.3em;
    line-height:1.2em;
    text-align:center;
    padding: .5em;
}

div.flex {display: flex;
    justify-content:space-evenly;
    width:90vw;
    background-color:lemonchiffon;
}

div.flex img {
    max-width:200px;
    width:80%;}

div#footer {
    width:80%;
    margin:auto;
    display:flex;
    justify-content: space-evenly;
    font-size: smaller;
}

img#newt {
    max-width:100px;
    width:80%;}

section.gallery {display:none;}

section.pushButton {width:30%; margin:auto; display:flex; justify-content: space-around}
.pushButton button {
    background-color:lavender;
    font-size:larger;
    accent-color:red;
    padding:2em;
    border-radius: 30%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.pushButton button:hover {
    background-color:hotpink;
   
}